/*Reseteo de estilos por defecto*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Setear rem=10px*/
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
}

/*Estilos estructura html*/
header {
    display: flex;
    width: 100%;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-top: auto;
    width: 100%;
}

img {
    width: 100%;
}

/*Estilos jerarquía h*/
h1 {
    color: #510081;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin-top: 3rem;
    padding-top: 2rem;
    margin-bottom: 0rem;
}

h2 {
    color: #510081;
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

h3 {
    color: #510081;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 1rem;
}

h4 {
    color: aliceblue;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

h5 {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem;
}

/*Estilos Navegador*/
nav {
    background-color: white;
    position: relative;
    background-position: top;
    height: 8rem;
    width: 100%;
}

.enlace {
    position: absolute;
}

.logo {
    height: 7.5rem; 
}

.logo:hover {
    transform: scale(1.2);
}

nav .menu {
    margin-left: 20rem;
    padding-top: 3rem;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin: 0.5rem 1rem 1rem 0rem;
}

nav ul li a {
    color: #510081;
    font-size: 1.8rem;
    padding: 0.7rem 1.6rem 0.7rem 0rem;
    border-radius: 0.3rem;
}

li a.active,
li a:hover {
    color: #e298c4;
}

.checkbtn1 {
    font-size: 4rem;
    color: rgb(253, 240, 255);
    float: right;
    padding: 2rem 4rem;
    cursor: pointer;
    line-height: 1rem;
}

.checkbtn1 :hover {
    color: rgb(194, 156, 236);
}

#check {
    display: none;
}

/*Estilo sub-menu*/
nav ul ul {
    display: none;
    position: absolute;
    background-color: white;
    width: min-content;
    color: #510081;
    font-size: 1.5rem;
    padding: 0.7rem 1.3rem 0.7rem 0rem;
    line-height: 1.2rem;
    margin-left: 0;
}

nav ul li:hover>ul {
    display: block;
}


ul.subMenu li:hover {
    color: #e298c4;
}

.caja-1 {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    text-align: left;
}

::before {
    font-size: large;
}

form>div {
    display: flex;
    background: #fff;
    padding: 0.8rem 2.2rem 0.8rem 2.6rem;
    border-radius: 3rem;
    border: 0.1rem solid #cad3dc;
    border-color: #510081;
    margin-top: 0.8rem;
}

.lupa {
    height: 1.5rem;
}

form input {
    border: none;
    background-color: white;
    outline: none;
}

.checkbtn {
    font-size: 3rem;
    color: #510081;
    float: right;
    padding: 3rem 4rem;
    cursor: pointer;
    line-height: 4rem;
    margin-top: -1rem;
}

.checkbtn :hover {
    color: #e298c4;
}

#check {
    display: none;
}


.nav-menu{
    display: none;
}


form{
    float: right;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

/*Estilos banner*/
.botonBanner {
    margin-top: -12rem;
    margin-left: 16rem;
    position: absolute;
}

.compraAqui {
    background-color: white;
    border: 0.2rem solid #510081;
    padding: 1rem 3.3rem;
    color: #510081;
    border-radius: 5rem;
    font-size: 1.5rem;
    width: max-content;
}

.compraAqui:hover {
    background-color: #510081;
    color: white;
    font-weight: bold;
}

/* Estilo de grif card*/
.contenedorLanzamiento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
}

.box {
    width: 26rem;
    height: 36rem;
    margin: 1.7rem;
    padding: 2rem;
    background: transparent;
    border-radius: 0.7rem;
    text-align: center;
    margin-top: 8rem;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0rem 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0rem 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0em 0em 0em 0.1em inset;
}

.descuento {
    position: absolute;
    top: 4rem;
    left: 0;
    background: #510081;
    padding: 0.8rem 2rem;
    color: #fff;
    width: 6rem;
    border-radius: 0rem 2rem 2rem 0rem;
    font-size: 1.5rem;
}

span {
    color: #F400A1;      
}

.box img {
    width: 80%;
    padding-top: 4rem;
    transition: all 400ms;
}

.box h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    transition: all 500ms;
    color: #333;
}

.botonProducto {
    background-color: transparent;
    border: 0.2rem solid #510081;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #510081;
    margin: 3rem;
    padding: 0.3rem;
}

.botonProducto:hover {
    background-color: #510081;
    color: white;
    border: 0.2rem solid #510081;
}

.containerP {
    width: 100%;
    height: 15rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0rem 0rem 1rem 11rem;
    padding: 0 1rem;
    line-height: 1.8rem;
}

.box p {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgba(55, 58, 55, 0.667);
    opacity: 0;
    transform: translateY(1.5rem);
    transition: all 600ms;
    color: #000;
    padding: 0.5rem;
}

.box:hover .descuento {
    background-color: white;
}

.box:hover {
    box-shadow: 0.5rem 0.4rem 0.4rem #646363;
}

.box:hover img {
    transform: translateY(-90px);
}

.box:hover h2 {
    transform: translateY(-90px);
    color: #510081;
    margin-bottom: 0;
    font-size: 1.8rem;
}

.box:hover .containerP p {
    transform: translateY(0rem);
    opacity: 1;
    color: #333;
}

/*Estilos contenedor Categorías*/
.seccionCategorias {
    background-color: #ecc6dd;  
    width: 100%;
    padding-bottom: 1rem;
    overflow: hidden;
}

.seccionCategorias .main-card{
    width: 200%;
    display: flex;
    justify-content: space-evenly;
    transition: all 1s ease;
}

#two:checked ~ .main-card{
    margin-left: -100%;
}

/*DANIELA @keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    50%{margin-left: -100%;}
    100%{margin-left: -100%;}}
  /*25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}*/

.main-card .contenedorCategorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(100% / 2 - 1rem);
    margin: 9rem 2rem 6rem 2rem;
}

.main-card .contenedorCategorias .categoria{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 36rem;
    height: 25rem;
    margin-top: 0rem;
    background: linear-gradient(90deg, hsla(248, 57%, 40%, 1) 0%, hsla(297, 64%, 51%, 1) 100%);
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.4rem 0.4rem #646363;
    justify-content: center;
    transition: all 0.2s ease;
}

/*Estilos Slider Categorías*/
.main-card .contenedorCategorias .categoria:hover{
    transform: translateY(-15px);
}

.imgCategoria {
    width: 95%;
    padding-left: 2rem;
}

.botonCategoria {
    background-color: transparent;
    border: 0.2rem solid #510081;
    border-radius: 5rem;
    height: 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #510081;
    margin-inline: 7rem;
    margin-top: 1rem; 
    padding: 0rem 3rem;
}

.botonCategoria:hover,
.botonCategoria:active {
    color: white;
    background-color: #510081;
}

.button{
    display: flex;
    margin: 4rem;
    justify-content: center;
}

.button label{
    height: 1.5rem;
    width: 1.5rem;
    background:#7d2ae8;    
    margin: 0 0.4rem;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.button label:hover{
    background: #510081;
}
.button label.active{
    width: 3.5rem;
}

#one:checked ~ .button label.one{
    width: 3.5rem;
}

#two:checked ~ .button label.two{
    width: 3.5rem;
}

#one:checked ~ .button label.two{
    width: 1.5rem;
}

#two:checked ~ .button label.one{
    width: 1.5rem;
}

input[type="radio"]{
    display: none;
}

/*Estilos contenedor Marcas*/
.contenedorMarcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    margin: 3rem 0;
}

.marca1 {
    width: 8rem;
    height: 7.5rem;
}

.marca2 {
    width: 12rem;
    height: 8rem;
}

.marca3 {
    width: 10rem;
    height: 7.5rem;
}

/*Estilos Footer*/
#pie {
    height: 15rem;
    background-color: #510081;
}

.contenedorFooter1 {
    width: 100%;
    padding: 0.7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: baseline;
    grid-gap: 2rem;
}

.contenedorFooter1.footer1.sobreNosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.contenedorFooter1 p {
    font-size: 1.5rem;
    color: #efefef;
    text-align: left;
    margin-top: 1rem;
}

.footerLinks {
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.1rem;
}

.footerLinks a {
    color: white;
}

.contenedorFooter2 {
    color: #000;
    background-color: #38005a;
    height: 7rem;
    border-color: #38005a;
    padding: 0.5rem;
}

.financiacion {
    margin-left: -0.5rem;
    margin-top: 0.3rem;
    width: 60%;
}

#whatsapp a {
    background: #00A884;
    padding: 1.5rem 2rem;
    color: #fff;
    text-decoration: none;
    width: 5.5rem;
    height: 5rem;
    transition: all .4s ease;
    position: fixed;
    bottom: 1.2rem;
    right: 0;
    border-radius: 5rem;
}

#whatsapp a:hover {
    background: #000;
    padding: 1.5rem 2.2rem;
}

/*Estilo sección Conocenos*/    
.contenedorTituloConocenos {
    margin: 3rem 3rem 0rem 3rem;
}

.contenedorConocenos {
    height: max-content;  
}

hr {
    color: #510081;   
    text-align: center;
    margin: auto 4rem;
    border: 0.1rem solid #510081;
    
}

/*Estilos parrafos*/
.contenedorParrafo {
    margin: 2rem 6rem; 
}

.parrafoSomos {
    font-size: 1.7rem;
    text-align: justify;
    line-height: 2.5rem;
    color: #510081;
    font-weight: 500;
    margin: 2rem 4.5rem;
}

/*Estilo sección Equipo*/
.contenedorNosotras{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40rem;
    padding: 2rem;
    grid-gap:9rem;
    margin: 2rem 8rem 6rem 8rem; 
}

.contenedorEquipo {
    background-color: #510081;
    border-radius: 2rem;
    height: 45rem;
}

.avatar {
    margin: 1.2rem 5rem 0rem 6rem;
    width: 60%;
}

.botonDev {
    background-color: white;
    border: 0.2rem solid #510081;
    border-radius: 3rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    color: #510081;
    margin: 0rem 6rem;
    padding: 0rem 1rem;
    width: 20rem;
}

.parrafoDevs {
    font-size: 1.4rem;
    text-align: center;
    line-height: 2rem;
    color: white;
    font-weight: 500;
    margin: 1rem 4rem;
}

/*Estilos de la galeria de Html Categoría de Productos*/
.galeria-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50rem;
    padding: 2rem;
    grid-gap:4rem;
    margin: 4rem 8rem 0rem 4rem;   
}

.categoria1{
    background-image: url(https://i.postimg.cc/MGLfz0Qf/electrodomesticos.webp);
    background-position-y: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;  
    margin: 1rem 2rem;
    width: 85%;  
}

.categoria2{
    position: relative;
    background-image: url(https://i.postimg.cc/C1YTBXD3/computadoras.webp);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem 2rem;
    width: 95%;        
}

.categoria3{
    position: relative;
    background-image: url(https://i.postimg.cc/yN2xMVMF/audio.webp);      
    background-position-y: 3rem;
    background-size: contain;
    background-repeat: no-repeat;   
    margin: 1rem 2rem;
    width: 105%;       
}

.categoria4{
    position: relative;
    background-image: url(https://i.postimg.cc/C1wG3xCR/tv.webp); 
    background-position-y: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem;
    width: 90%; 
}

.categoria5{
    position: relative;
    background-image: url(https://i.postimg.cc/zG6qBxxN/reloj.webp);
    background-position-y: -0.5rem;
    background-size: contain;
    background-repeat: no-repeat;  
    margin: 2rem;
    width: 85%;    
}

.categoria6{
    position: relative;
    background-image: url(https://i.postimg.cc/HLkbYsvR/camara.webp);
    background-position-y: -2rem;
    background-size: contain;
    background-repeat: no-repeat;  
    margin: 2rem;
    width: 90%; 
}

.botonCategoria1 {
    background-color: transparent;
    border: 0.2rem solid #510081;
    border-radius: 5rem;
    height: 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #510081;
    margin-inline: 8rem;
    margin-top: 40rem;
    padding: 0rem 3rem;
    width: max-content;
}

.botonCategoria1:hover, .botonCategoria:active {
    color: white;
    background-color: #510081;
}

.botonCategoria2 {
    background-color: transparent;
    border: 0.2rem solid #510081;
    border-radius: 5rem;
    height: 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #510081;
    margin: 35rem 5rem 2rem 10rem;
    padding: 0rem 3rem;
    width: max-content;
}

.botonCategoria2:hover, .botonCategoria2:active {
    color: white;
    background-color: #510081;
}

.botonCategoria3 {
    background-color: transparent;
    border: 0.2rem solid #510081;
    border-radius: 5rem;
    height: 4rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    color: #510081;
    margin: 35rem 2rem 2rem 10rem;  
    padding: 0rem 3rem;
    width: max-content;
}

.botonCategoria3:hover, .botonCategoria3:active {
    color: white;
    background-color: #510081;
}


.botonBanner2 {
    background-color: #510081;
    border: 0.2rem solid #510081;
    border-radius: 5rem;
    height: 5rem;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top: -13rem;
    margin-left: 7rem;
    position: absolute; 
    padding: 0rem 4rem;
    width: max-content;
}

.botonBanner2:hover, .botonBanner2:active {
    color: #510081;
    background-color: white;
}

.categoriaBanner{    
    grid-column-start: span 3;
    margin-bottom: 1rem;
}

